name: customer_app
description: A Flutter customer application for your ecommerce backend.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  # Networking
  http: ^1.2.0

  # State Management
  provider: ^6.0.5

  # Local Storage for JWT
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  

